name: TEST_MERGE
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
 test_job:
   runs-on: ubuntu-latest
   steps:
     - name: PRINT IF MERGE IS SUCCESSFUL
       run: echo "SUCCESS"